# VS
.vscode
.suo
*.user
*.userosscache
*.sln.docstates

# dependencies
node_modules

# testing
coverage

# builds
build
ts-build
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# misc
.DS_Store
.env
*.log
*~
