.App {
	width: 900px;
	height: 1600px;
	text-align: center;
	border: 1px solid black;
	background-color: #fafafa;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-intro {
	font-size: large;
	color: black;
}

.Inspector {
	width: 300px;
	text-align: center;
	border: 1px solid black;
	background-color: #fafafa;
}
