// There is a bug in webpack or extract-text-webpack-plugin or both:
// https://github.com/webpack/webpack/issues/215
// Explicitly importing the bootstrap css here enforces the order.
// Otherwise the bootstrap css gets packed after this css and I can't override the styles anymore.
@import '~bootstrap/dist/css/bootstrap.css';

.header {
    padding-top: 20px;
	  font-size: 23px;
	  color: #7cdcff;
}

.hieroglyph-list-item {
    color: #7cdcff;
    border: 1px solid #7cdcff;
    background-color: #333333;
}

.hieroglyph-list-item:focus, .hieroglyph-list-item-selected {
    color: #7cdcff;
    border: 1px solid #7cdcff;
    background-color: #404047;
}

.editor-section {
	  height: 1600px;
	  text-align: center;
	  border: 1px solid black;
	  background-color: #1e1e1e;
}

.error {
	color: #333333;
	border: 1px solid #7cdcff;
	background-color: #fa5960;
}

.error:focus {
	color: #333333;
	border: 1px solid #7cdcff;
	background-color: #fa5960;
}

.input {
	color: #7cdcff;
	border: 1px solid #7cdcff;
	background-color: #333333;
}

.input:focus {
	color: #7cdcff;
	background-color: #3a3a3a;
}

.addon {
	color: black;
	background-color: #7cdcff;
}
